* {
    border: 0px;
    padding: 0;
    margin: 0;
}

body{
  background-image: url(../assets/bg.PNG);
  font-family: Arial;
}

main#main{
  position: relative;
  border: 1px solid #000;
  width: 1000px;
  min-height: 300px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, .8);
}

caption{
  font-size: 1em;
  font-weight: bold;
  margin: 5px;
}

header#hprincipal{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  width: 1000px;
  height: 175px;
  border-bottom: 1px solid #000;
  background-image: url(../assets/bgh.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#tittleprincipal{
  color: #fff;
  position: relative;
  margin-left: 75px;
}

header#hprincipal .logo{
  position: absolute;
  width: 150px;
  height: 100%;
  top: 20px;
  left: 35px;
  background-image: url(../assets/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

header#hprincipal h1{
  position: absolute;
  left: 150px;
  top: 60px;
}

nav.menu{
  border-bottom: 1px solid #000;
  position: relative;
  background-color: #000;
}

nav.menu ul{
  position: relative;
  width: 100%;
}

nav.menu ul li{
  position: relative;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

nav.menu ul li a{
  display: block;
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
}

nav.menu ul li a:hover,
nav.menu ul li a.activo{
  background-color: rgb(90, 79, 85);
}

footer#fprincipal{
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
  border-top: 1px solid #000;
  background-color: #000;
  color: #fff;
  background-image: url(../assets/bgf.png);
}

footer#fprincipal small{
  position: relative;
  top: 30px;
}

table, tr, td, th{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
}

table{
  position: relative;
  width: 95%;
  margin: 20px auto;
}

table thead{
  background-color: #000;
  color: #fff;
}

table tbody tr:nth-child(odd){
  background-color: rgba(0, 0, 0, .1);
}

table tbody tr:nth-child(even){
  background-color: rgba(90, 79, 85, 0.500);
}

@font-face{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  src: url("../assets/tipografia.ttf");
}
